<ul class="categories">
    {{#with model.categories.firstObject as |category|}}
        <li class="cat-{{category.slug}}">
            {{link-to category.name 'category' category}}
        </li>
    {{/with}}
</ul>

<header class="entry-header">
    <h1 class="entry-title">{{model.title}}</h1>
</header>

<div class="entry-meta clearfix">
    {{! TODO WP template uses 40px which isn't in API response }}
    <img src="{{get model.author.avatarUrls '96'}}" width="40" height="40" alt=""
         class="avatar avatar-40 wp-user-avatar wp-user-avatar-40 photo avatar-default">

    <span class="byline">
        <span class="author vcard">
            <span>By: </span>{{model.author.name}}
        </span>
    </span>

    <span class="posted-on">
        {{! TODO use model.date }}
        <time class="entry-date published updated" datetime="2016-06-08T04:18:14+00:00">
            Hardcoded 8, 2016
        </time>
    </span>

    <div class="share-wrapper">
        <a class="fb-share-btn">
            <svg class="icon facebook-icon-default">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook-icon-default"></use>
            </svg>
            <span>Share</span></a>
        <a class="tweet-btn">
            <svg class="icon twitter-icon-default">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter-icon-default"></use>
            </svg>
            <span>Tweet</span></a>
        <a class="reddit-btn">
            <svg class="icon reddit-icon-default">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#reddit-icon-default"></use>
            </svg>
            <span>Share</span></a>
    </div>
</div>

<div class="entry-content">{{model.content}}</div>

<div class="article-share">
    <hr>
    <div class="text">People are sharing and discussing this article – join them!</div>
    <div class="share-wrapper">
        <a class="fb-share-btn">
            <svg class="icon facebook-icon-default">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook-icon-default"></use>
            </svg>
            <span>Share</span></a>
        <a class="tweet-btn">
            <svg class="icon twitter-icon-default">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter-icon-default"></use>
            </svg>
            <span>Tweet</span></a>
        <a class="reddit-btn">
            <svg class="icon reddit-icon-default">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#reddit-icon-default"></use>
            </svg>
            <span>Share</span></a>
    </div>
</div>
<div class="author-bio">
    <img src="{{get model.author.avatarUrls '96'}}"
         width="60" height="60" alt=""
         class="avatar avatar-60 wp-user-avatar wp-user-avatar-60 photo avatar-default">
    <div class="author-name">{{model.author.name}}</div>
    <p class="about">{{model.author.description}}</p>
</div>
