<div class="grid-content thumbnail">
    {{#link-to 'post' model class='post-thumbnail'}}
        {{#with media.mediaDetails.sizes as |sizes|}}
            <img width="400" height="225"
                 src="{{sizes.thumbnail.source_url}}"
                 class="attachment-thumbnail size-thumbnail wp-post-image"
                 alt="{{model.title}}"
                 srcset="{{sizes.thumbnail.source_url}} 400w, {{sizes.full.source_url}} 1280w"
                 sizes="(max-width: 400px) 100vw, 400px">
        {{/with}}
    {{/link-to}}
    {{!--
        TODO:
        This should display category with parent=3 (vertical) but I couldn't send proper filter to API
        /wp-json/wp/v2/categories?filter[post]=17494&filter[parent]=3 "should work" but didn't
     --}}
    <span class="category cat-{{model.categories.firstObject.slug}}">
        {{model.categories.firstObject.name}}
    </span>
</div>
<div class="grid-content details">
    <h3 class="entry-title">
        {{link-to model.title 'post' model rel='bookmark'}}
    </h3>
    <span class="attribution">Fandom</span>
    <p class="excerpt">
        {{link-to model.excerpt 'post' model rel='bookmark'}}
    </p>
</div>
